.wrapper {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 1286px;
    max-width: 100%;
    margin: 0 auto;
    padding-top: var(--header-height);
    padding-left: 15px;
    padding-right: 15px;
    z-index: 1;
}

.inner {
    width: 100%;
}