.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    // fill: inherit;
}

.text {
    padding: 0 1rem;
    text-align: center;

    a {
        color: var(--yellow);
        text-decoration: none;
    }
}
