@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700&display=swap');
@import 'node_modules/modern-normalize/modern-normalize.css';

:root {
    --black: #000;
    --white: #fff;
    --yellow: #facc15;
    --blue: #3b82f6;

    --header-height: 70px;
    --header-width: 700px;

    --primary-font: 'Nunito', sans-serif;
    --secondary-font: 'League Spartan', sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    -webkit-tap-highlight-color: transparent;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}

body {
    font-size: 1.6rem;
    text-rendering: optimizeSpeed;
    height: fit-content;
    overflow-x: hidden;
    background: #000;
    color: #fff;
}

html,
body {
    overscroll-behavior: none;
    font-family: var(--primary-font);
}

*:focus {
    outline: none;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    border-radius: 1rem;
    --tw-bg-opacity: 1;
    background-color: rgb(156 163 175 / var(--tw-bg-opacity));
}

summary::-webkit-details-marker {
    display: none;
}
summary {
    list-style: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type='number'] {
    -moz-appearance: textfield;
}

img {
    object-fit: cover;
}

button,
input {
    outline: none;
    border: none;
}

button {
    cursor: pointer;
}

.transition-default {
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 0.2s;
}

.fancy-fade-in {
    animation: fade-in-animation 1.3s ease-in-out;
}

.canvas {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    pointer-events: none;
}

.user-select-none {
    -webkit-user-select: none; /* Chrome all / Safari all */
    -moz-user-select: none; /* Firefox all */
    -ms-user-select: none; /* IE 10+ */
    user-select: none; /* Likely future */
}

.title {
    font-size: 3.8rem;
    font-family: var(--secondary-font);
}

@keyframes fade-in-animation {
    0% {
        opacity: 0;
        filter: brightness(1) blur(20px);
    }
    10% {
        opacity: 1;
        filter: brightness(2) blur(10px);
    }
    100% {
        opacity: 1;
        filter: brightness(1) blur(0);
    }
}

@keyframes text {
    0% {
        background-size: 200% 200%;
        background-position: left center;
    }
    50% {
        background-size: 200% 200%;
        background-position: right center;
    }
    100% {
        background-size: 200% 200%;
        background-position: left center;
    }
}

// Tablet
@media only screen and (min-width: 740px) and (max-width: 1023px) {
    :root {
        --header-width: 576px;
    }
}
