.wrapper {
    display: flex;
    align-items: center;
    margin: 0 auto;
    max-width: var(--header-width);
    padding-top: var(--header-height);
}

.image {
    img {
        border-radius: 9999px;
        width: 13rem;
        height: 13rem;
    }
}

.content {
    padding: 0 30px;


    p {
        font-size: 1.8rem;
        line-height: 1.6;
    }

    a {
        color: #3b82f6;
        text-decoration: none;
    }
}