.wrapper {
    position: relative;
    width: 100%;
    min-height: 100vh;

    &.light {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

.title {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    overflow: hidden;
    text-align: center;
    cursor: default;

    h1 {
        font-size: 6rem;
        font-family: var(--secondary-font);

        &:hover {
            transform: scale(1.1);
        }
    }
}

.description {
    width: 100%;
    text-align: center;
    font-size: 7rem;
    font-family: var(--secondary-font);

    &.light {
        margin: 12px 0;
    }

    span {
        --tw-gradient-from: #4ade80;
        --tw-gradient-to: var(--blue);
        --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);

        color: transparent;
        background-image: linear-gradient(to right, var(--tw-gradient-stops));
        -webkit-background-clip: text;
        background-clip: text;
        animation: text 2s linear infinite;
    }
}

.quote {
    width: 100%;
    a {
        color: var(--blue);
    }
}

.canvas {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    pointer-events: none;
}

@keyframes text {
    0% {
        background-size: 200% 200%;
        background-position: left center;
    }
    50% {
        background-size: 200% 200%;
        background-position: right center;
    }
    100% {
        background-size: 200% 200%;
        background-position: left center;
    }
}
